.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-light .navbar-brand {
  color: #fff!important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff!important;
}
.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255)!important;
  border-color: rgba(255, 255, 255)!important;
}
.navbar-light .navbar-toggler-icon {
  color:  rgb(255, 255, 255)!important;
}


.MUIDataTableSelectCell-fixedLeft-37 {
  
  display: none!important;
}

.text-danger {
  color: #fff!important;
}

.custom-tag img {
  position: relative!important;
    height: 100%!important;
    width: 100%!important;
}

.carousel-indicators {
  bottom: 150px!important;
}
.custom-tag h3 {
  margin-bottom: 160px!important;
  font-size: 42px!important;
}


 .alinfeedback {
  padding-top: 150px;
  height: 780px;
}

.bg-dark{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.irvCNu{
  padding-top: 5px;
}


.bg-container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1800px!important;
}





.mapdirection {
  margin-top: 400px;
}

